.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

.header {
    width: 44%;
    justify-content: space-between;
    display: flex;
    padding: 8px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 25px;
}

.icon {
    font-size: 24px;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    border: none;
    margin: 16px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1px;
    align-self: center;
}

.icon:hover {
    color: var(--color-primary);
    transform: rotate(10deg);
    transition: transform 0.3s ease;
}

.section {
    flex: 1;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
}

.section h2 {
    font-size: 26px;
    padding-bottom: 16px;
}

.section li {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}

.div-header {
    padding: 4;
    flex-direction: row;
    justify-content: flex-end;
}

.footer {
    width: 44%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 65px;
}

ul {
    color: var(--color-primary);
}