.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

.header {
    width: 100%;
    max-width: 44%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 25px;
}

.header-title {
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary-color);
}

.icon {
    font-size: 24px;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    border: none;
    margin: 16px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1px;
    align-self: center;
}

.icon:hover {
    color: var(--color-primary);
    transform: rotate(10deg);
    transition: transform 0.3s ease;
}

.section {
    flex: 1;
    display: flex;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 44%;
    flex-direction: column;
}

.section h2 {
    font-size: 26px;
    padding-bottom: 16px;
}

.section li {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 700;
    margin-left: 0px;
}

.section li:hover {
    color: var(--color-primary);
    text-decoration: underline dashed;
    cursor: pointer;
}

.section ul {
    color: var(--color-primary);
    list-style-type: none;
    padding-inline-start: 0%;
}

.div-header {
    padding: 4;
    flex-direction: row;
    justify-content: flex-end;
}

.footer {
    width: 100%;
    max-width: 44%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
