* {
    margin: 0;
    font-family: 'Space Mono', monospace;
}

:root {
    --bg-color: #f9f9ed;
    --bg-color-light: #ccc6c6;
    --color-primary: #f53900;
    --color-primary-dark: #f01000;
    --color-primary-light: #f55a00;
    --secondary-color: #171717;
    --alt-color: #735CDD;
}

:root[data-theme="dark"] { 
    --bg-color: #0f0f0f;
    --bg-color-light: #202020;
    --secondary-color: #f0f0f0;
    --color-primary: #6A26C9;
    --color-primary-dark: #441a80;
    --color-primary-light: #8c00ff;
    --color-primary-lighter: #CC00FF;
    --alt-color: #FE9920;
}

body {
    background-color: var(--bg-color); 
    color: var(--secondary-color);
}

/* body,
.App,
.header,
.header button,
.footer,
ul {
    transition: background-color 0.15s ease, color 0.15s ease; 
} */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-dark);
}



/* .space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
} */